<div class="debug_container">
  <div class="hidden-sm-up">XS</div>
  <div class="hidden-md-up hidden-xs-down">SM</div>
  <div class="hidden-lg-up hidden-sm-down">MD</div>
  <div class="hidden-ll-up hidden-md-down">LG</div>
  <div class="hidden-xl-up hidden-lg-down">LL</div>
  <div class="hidden-ll-down">XL</div>
</div>