.slide.intro_slide { 
  .intro_container {
    position: relative;
    z-index: 0;

    .btn.btn-cta-main {
      margin-top: 1%;
    }

    .slide_content_container {
      padding: 0;
    }

    .container {
      color: white;
    }

    @include media-breakpoint-down('md') { 
      h1 {
        font-size: 100%;
      }
      .lead {
        font-size: 60%;
      }
    }
  }
}